<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Practica</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/vegas.min.css')}}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/tooplate-barista.css')}}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

        
    </head>
    
    <body class="reservation-page">
                
            <main>
                <nav class="navbar navbar-expand-lg">                
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('api.home') }}">
                            <img src="images/coffee-beans.png" class="navbar-brand-image img-fluid" alt="">
                        
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                            
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('api.ver_guardad') }}">Registrar Canchas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('api.ver_sinteticas') }}">Lista de Canchas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('api.grafo_admin') }}">MCalcular Distancia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" target = "_blank" href="{{ url_for('api.grafo_sintetica') }}">Grafo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                

                <section class="booking-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="booking-form-wrap">
                                <div class="row">
                                    
                                {% block content %}{% endblock %}

                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <footer class="site-footer">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 col-12 me-auto">
                    
                            </div>

                            <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
            

                                <p class="d-flex mb-1">
                                
                                </p>

                                <p class="d-flex">
                                    

                                    
                                </p>
                            </div>



                    </div>
                </footer>
            </main>

        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vegas.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

        <script>
            var map = L.map("map").setView([-1.2588246278651873, -78.62224102020265], 6);
            L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            }).addTo(map);
            var marker;
            
            function onMapClick(e) {
                if (marker) {
                    marker.setLatLng(e.latlng);
                } else {
                    marker = L.marker(e.latlng, {
                        icon: L.icon({
                            iconUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png',
                            iconSize: [25, 41],
                            iconAnchor: [12, 41],
                            popupAnchor: [1, -34],
                            shadowSize: [41, 41]
                        })
                    }).addTo(map);
                }
                marker.bindPopup(e.latlng.toString()).openPopup();
            
                // Actualizar campos de entrada
                document.querySelector('input[name="latitude"]').value = e.latlng.lat;
                document.querySelector('input[name="longitude"]').value = e.latlng.lng;
                fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${e.latlng.lat}&lon=${e.latlng.lng}`)
                    .then(response => response.json())
                    .then(data => {
                        let addressParts = [];
                        if (data.address.road) addressParts.push(data.address.road);
                        if (data.address.city || data.address.town || data.address.village) {
                            addressParts.push(data.address.city || data.address.town || data.address.village);
                        }
                        document.querySelector('input[name="address"]').value = addressParts.join(', ');
                    })
                    .catch(error => console.log('Error al obtener la dirección:', error));
            }
            map.on('click', onMapClick);
        </script>

    </body>
</html>